body {margin:0; padding:0}
.title_box {
    padding:20px;
    color: #ffffff; background-color:#FFB127; display:flex;
    font-size: 24px;
    font-weight: bold; align-items:baseline
}
.title_box .text {margin-left:20px; }
.bodytxt {margin:20px; font-size:16px;}
.subTitle {font-weight:bold; font-size:14px; margin-top:16px}
p {margin:8px; font-size: 14px}
.mt24{margin-top:24px}
