@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 700;
    src: local("Spoqa Han Sans Bold"), url("/fonts/SpoqaHanSans/SpoqaHanSansBold.woff2") format("woff2"),
        url("/fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff"), url("/fonts/SpoqaHanSans/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 400;
    src: local("Spoqa Han Sans Regular"), url("/fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2") format("woff2"),
        url("/fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.woff") format("woff"),
        url("/fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 300;
    src: local("Spoqa Han Sans Light"), url("/fonts/SpoqaHanSans/SpoqaHanSansLight.woff2") format("woff2"),
        url("/fonts/SpoqaHanSans/SpoqaHanSansLight.woff") format("woff"), url("/fonts/SpoqaHanSans/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 100;
    src: local("Spoqa Han Sans Thin"), url("/fonts/SpoqaHanSans/SpoqaHanSansThin.woff2") format("woff2"),
        url("/fonts/SpoqaHanSans/SpoqaHanSansThin.woff") format("woff"), url("/fonts/SpoqaHanSans/SpoqaHanSansThin.ttf") format("truetype");
}

:root {
    /* 폰트 사이즈 & 칼라  */
    --font_36: 36px;
    --font_32: 32px;
    --font_28: 28px;
    --font_24: 24px;
    --font_18: 18px;
    --font_16: 16px;
    --font_15: 15px;
    --font_14: 14px;
    --font_12: 12px;

    --font_500: #181818;
    --font_400: #404040;
    --font_200: #6d6d6d;
    --font_100: #767676;

    --bold: 700;
    --medium: 500;
    --regular: 400;

    /* 칼라 변수 */
    --main_orange_400: #ff641d;
    --main_orange: #ff8f0b;
    --main_yellow: #ffcb02;
    --main_yellow_200: #ffe561;

    --white: #ffffff;
    --disable: #c9c9c9;
    --gray_100: #f2f2f2;

    /* 컴포넌트 크기 */
    --page_height: 768px;

    /* 섹션별 마진 */
    --section-margin: 200px;
    --component-margin: 80px;
    --title-margin: 32px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
} */

* {
    /* overflow-x: hidden;
    overflow-y: auto; */
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    /* border: 1px solid #181818; */
}
.bg-container {
    width: 50vw;
    position: relative;
    /* overflow: hidden; */
}

.bg-wrap {
    position: absolute;
    top: -600px;
    right: -800px;
    z-index: -3;
    /* visibility: hidden; */
}

.rotate-img {
    animation: rotate_image 2.6s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.scroll-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-img {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
    cursor: pointer;
}

.scroll-box-history {
    width: 100%;
    display: flex;
}
.scroll-img-history {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: sdb2 1.5s infinite;
    animation: sdb2 1.5s infinite;
    box-sizing: border-box;
    cursor: pointer;
}

.scroll-text {
    margin-top: 15px;
    color: var(--disable);
    font-size: var(--font_18);
    font-weight: var(--regular);
}
.scroll-text-history {
    margin-right: 10px;
    color: var(--disable);
    font-size: var(--font_18);
    font-weight: var(--regular);
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(0deg) translate(0, -10px);
    }
    40% {
        -webkit-transform: rotate(0deg) translate(0, 0);
    }
}
@keyframes sdb {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    20% {
        transform: rotate(0deg) translate(0, -10px);
    }
    40% {
        transform: rotate(0deg) translate(0, 0);
    }
}

@-webkit-keyframes sdb2 {
    0% {
        -webkit-transform: rotate(-90deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-90deg) translate(0, -10px);
    }
    40% {
        -webkit-transform: rotate(-90deg) translate(0, 0);
    }
}
@keyframes sdb2 {
    0% {
        transform: rotate(-90deg) translate(0, 0);
    }
    20% {
        transform: rotate(-90deg) translate(0, -10px);
    }
    40% {
        transform: rotate(-90deg) translate(0, 0);
    }
}

.customoverlay {
    position: relative;
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}
.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: var(--main_yellow);
    background: var(--main_yellow) url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}
.customoverlay:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
