body {
    font-family: Segoe UI;
    margin: 0;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(252, 219, 86);
    text-decoration: underline;
}

a:active {
    color: rgb(252, 219, 86);
    text-decoration: none;
}

/* content */
.main-content {
    width: 100%;
    height: auto;
}

.btn-box {
    text-align: center;
}

.btn-box > a > img {
    height: 80px;
    margin-bottom: 6px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-box-center {
    position: relative;
}

.btn-box-right {
    position: absolute;
    top: 0;
}

.btn-youtube {
    margin-top: 20px;
    position: absolute;
    right: 80px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* footer class */
.footer-container {
    text-align: center;
    color: #ffffff;
    background-color: rgba(49, 49, 49, 1);
    margin: -8px 0px -20px 0px;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    display: inline-block;
}

.footer-box {
    display: flex;
    font-size: 14px;
}

.footer-box-left {
    width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-box-left .top {
    margin-bottom: 30px;
}

.footer-box-right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns-icon {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1304px) {
    .btn-youtube {
        position: inherit;
    }
}

@media screen and (max-width: 750px) {
    .pc {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .btn-youtube {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
